{%  extends 'layout.html' %}
{%  block content %}

<h1 class="my-5 py-5 text-center">{{ movie.get('title') }}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{ movie.get('poster') }}"
             class="card-img mb-5" alt="{{ movie.get('title') }}">
    </div>
    <div class="col-md-8">
        <p class="card-text">
            {{ movie.get('plot') }}
        </p>
        <p class="card-text">
            <span class="font-weight-bold">Year: </span><span>{{ movie.get('year') }}</span><br>
            <span class="font-weight-bold">Production: </span><span>{{ movie.get('production') }}</span><br>
            <span class="font-weight-bold">Director: </span><span>{{ movie.get('director') }}</span><br>
            <span class="font-weight-bold">Actors: </span><span>{{ movie.get('actors') }}</span><br>
            <span class="font-weight-bold">Awards: </span><span>{{ movie.get('awards') }}</span><br>
            <span class="font-weight-bold">Runtime: </span><span>{{ movie.get('runtime') }}</span><br>
            <span class="font-weight-bold">IMDb Rating: </span><span>{{ movie.get('imdbRating') }}</span><br>
            <span class="font-weight-bold">Box Office: </span><span>{{ movie.get('boxOffice') }}</span><br>
            <span class="font-weight-bold">Website: </span><a href="{{ movie.get('website') }}">{{ movie.get('website') }}</a><br>
        </p>
    </div>
</div>
{% endblock %}